if data_list && reservFlag != "yes"
  for data in data_list
    tr(class="clickable-rs" data-href= data.url)
      td #{data.name}
      td #{data.price}
      td #{data.product_year}
      td #{data.style}
  
if data_list && reservFlag == "yes"
  for data in data_list
    - var link = data._id;
    tr(class="clickable-tr" data-href= "/main/car/"+ link)
      td #{data.name}
      td #{data.price}
      td #{data.product_year}
      td #{data.style}