extends layout
  
block content

  .container-fluid.Search_head
    h1= title
  
  .container-fluid.Search
    form.container.Search_form(method='POST' action='/search/list')
      .form-row(class='row justify-content-start')
        .form-group(class=['col-xs-6', 'col-md-6'])
          label(for='dateFrom') Start Date
          input#dateFrom.form-control(type='date' name='dateFrom')
          div(id="errorM")
            if errors
              for error in errors
                if error.param == "dateFrom"
                  != error.msg
            
        .form-group(class=['col-xs-6', 'col-md-6'])
          label(for='dateTo') End Date
          input#dateTo.form-control(type='date' name='dateTo')
          div(id="errorM")
            if errors
              for error in errors
                if error.param == "dateTo"
                  != error.msg
    
      .form-row(class='row justify-content-start')
        
        .form-group(class=['col-xs-12', 'col-md-6'])
          label(for='style') Style
          select#style.form-control(type='select' name='style')
            for s in style_list
              if res_info
                option(value=s selected=((s==res_info.style)? 'selected': false)) #{s}
              else
                option(value=s) #{s}
          div(id="errorM")
            if errors
              for error in errors
                if error.param == "style"
                  != error.msg

        .form-group(class=['col-xs-12', 'col-md-6'])
          label(for='location') Location
          .input-group
            input#location.form-control(type='text' name='location' placeholder='leave this as empty until get the goole api' value=(undefined===res_info ? '' : res_info.location) autocomplete="off")
            span.input-group-addon
              button.location_button(type='button')
                | Find Location
          div(id="errorM")
            if errors
              for error in errors
                if error.param == "location"
                  != error.msg
        
        .form-group(class=['col-xs-12'] id="map")

      div(class='text-center')
        button(class='btn btn-primary' type='submit')
          | SEARCH
        button(class='btn btn-primary' type='reset')
          | RESET
  

  .container-bottom

  script(type="text/javascript" src="/javascripts/location.js")
